@import url("css_default.css");
.table_main{
	width:778;
	font-family:"ו";
	font-size:10.7pt;
	color:#000000;
	text-align:left;
}
.page_topic{
	height:50;
	background-color:#D5D5D5;
	font-family:"ו";
	font-size:18px;
	color:#CE0421;
	text-align:center;
}