@import url("css_default.css");
.info_base{
	width:778;
	background-color:#CE0421;
	font-family:"宋体";
	font-size:10.7pt;
	color:#ffffff;
	text-align:center;
}
.top_title{
	width:778;
	background-color:#CE0421;
	font-family:"宋体";
	font-size:10.7pt;
	color:#ffffff;
	text-align:center;
}
.border_a{
	width:770;
	height:100%;
	background-color:#FFFFFF;
	text-align:center;
}
.talent_info{
	width:770;
	background-color:#ffffff;
	font-family:"宋体";
	font-size:10.7pt;
	color:#000000;
	text-align:center;
}
.job_career{
	width:750;
	background-color:#ffffff;
	font-family:"宋体";
	font-size:10.7pt;
	color:#000000;
	text-align:center;
}